#root {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

.body{
  background-image: "./assets/bg.jpg";
}

.conf{
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: aquamarine;
}
.conf h1{
  display: flex;
  justify-content:center;
}
.btns{
  display: flex;
}

.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%; 
  padding: 10px;
  padding-right: 14px;
}

h1{
  padding-top: 15px;
}
img{
  margin: 0;
}
.send{
  background-color: rgba(255, 223, 244, 0.622);
  width: 80px;
  position: absolute;
  bottom: 7%;
  left: 80%;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
}

.send:hover{
  background-color: rgb(235, 250, 245);
  cursor: pointer;
}

textarea{
  outline-width: 0;
  box-decoration-break: clone;
  border: none;
  border-radius: 7px;
  width: 95%;
  height: 95%;
  text-wrap: wrap;
  padding: 10px;
  resize: none;
  text-overflow: clip;
}

.note{
  background-color: rgba(255, 255, 255, 0.166);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main{
  background-color: rgba(0, 0, 0, 0.481);
  width: 25%;
  height: 100%;
  border-color: aliceblue;
  border-width: 50px;
}

.open{
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.481);
  border-color: aliceblue;
  border-width: 50px;
  width: 40%;
  left: 0;
}

.collapsed {
  position: absolute;
  top: 60px;
  left: -15vw;
  height: 100%;
  width: 15vw;
  transition: left 0.3s ease-in-out;
  background-color: lightgray;
}

.sidebar-open {
  position: absolute;
  top: 0%;
  left: 20.1%;
  height: 60px;
  width: 60px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.481);
}

.sidebar{

}

.bod{
  height: 300px;
  width: 100vh;
}